/* Register */
* {
  font-family: "Poppins";
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  width: auto;
}
.login_bottom_btn {
  display: flex;
  justify-content: space-between;
}

/*  */
.top_heading {
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.top_row {
  background-color: #1a472a;
  color: #fff;

  font-weight: 400;
  font-size: 20px;
  height: 76px;
  display: flex;
  align-items: center;
}
.top_col {
  text-align: center;
  /* text-transform: capitalize; */
}

.details_row {
  font-size: 16px;
  background-color: #e4e2e2;
  display: flex;
  align-items: center;
}
.details_row2 {
  font-size: 16px;
  /* background-color: #e4e2e2; */
  display: flex;
  align-items: center;
}
.uploadFileDiv {
  align-items: center;
}
.fileInput {
  border: 1px solid;
}
.uploadFileText {
  margin-top: 1rem;
}

.tabDiv {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
  margin-left: 2rem;
}
.activeTab {
  border: 1px solid #fff;
  background-color: #1a472a;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* height: 34px; */
  text-align: center;
  line-height: normal;
  width: 10%;
}

.inActiveTab {
  border: 1px solid #fff;
  padding: 5px;
  background-color: #d9ede0;
  color: #fff;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainPassword {
  display: flex;
}
.eyeIcon {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  border: none;
  margin-left: -2.5rem;
  opacity: 0.5;
  margin-top: -4px;
}
.errorText {
  color: red;
  font-size: 14px;
  text-align: center;
 
}